@font-face {
  font-family: 'Raleway';
  font-weight: normal;
  font-style: normal;
  src: url('../../../assets/fonts/Raleway-Regular.ttf') format('ttf')
    url('../../../assets/fonts/Raleway-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Raleway';
  font-weight: normal;
  font-style: italic;
  src: url('../../../assets/fonts/Raleway-Italic.ttf') format('ttf')
    url('../../../assets/fonts/Raleway-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Raleway';
  font-weight: 500;
  font-style: normal;
  src: url('../../../assets/fonts/Raleway-Medium.ttf') format('ttf')
    url('../../../assets/fonts/Raleway-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Raleway';
  font-weight: 500;
  font-style: italic;
  src: url('../../../assets/fonts/Raleway-MediumItalic.ttf') format('ttf')
    url('../../../assets/fonts/Raleway-MediumItalic.woff') format('woff');
}

@font-face {
  font-family: 'Raleway';
  font-weight: 600;
  src: url('../../../assets/fonts/Raleway-SemiBold.ttf') format('ttf')
    url('../../../assets/fonts/Raleway-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Hack';
  font-weight: normal;
  src: url('../../../assets/fonts/Hack-Regular.ttf') format('ttf')
    url('../../../assets/fonts/Hack-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Source Serif Pro';
  font-weight: 600;
  src: url('../../../assets/fonts/SourceSerifPro-Semibold.ttf') format('ttf')
    url('../../../assets/fonts/SourceSerifPro-Semibold.woff') format('woff');
}

@font-face {
  font-family: 'Source Serif Pro';
  font-weight: normal;
  src: url('../../../assets/fonts/SourceSerifPro-Regular.ttf') format('ttf')
    url('../../../assets/fonts/SourceSerifPro-Regular.woff') format('woff');
}
