@import '~normalize-scss/sass/_normalize';
@include normalize();

@import 'imported-by-all-components';

@import 'custom-reset';
@import 'fonts';
@import 'forms';

html,
body {
  background-color: $bg;
  color: $fg;
  font-family: Raleway, sans-serif;
  font-size: 16px;
  line-height: $default-line-height;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  > main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    > .site-container {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      > .view {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
      }
    }
  }
}

.site-container {
  @include res-aware-element-spacing(('padding-left', 'padding-right'), 'lg');
  @include for-phones {
    max-width: $phone-min;
  }

  margin: 0 auto;
  max-width: $site-width;
  width: 100%;
}

footer {
  @include per-screen-size(
    ('height', 'line-height', 'margin-top'),
    $mobile-footer-height,
    $mobile-footer-height,
    90,
    90,
    'px'
  );

  background-color: $footer-color;
  color: $bg;

  .author {
    @include res-aware-element-spacing('margin-right', 'lg');
    @include res-aware-element-spacing('margin-left', 'xxs');

    @include for-small-phones {
      font-size: 15px;
    }
  }

  .small-quill {
    @include per-screen-size(('height', 'width'), 35, 35, 40, 40, 'px');

    vertical-align: middle;

    > .outer-stem {
      stroke: $bg;
    }

    > .feather {
      fill: $bg;
    }

    > .inner-stem {
      fill: $fg;
    }
  }

  .octicon {
    @include per-screen-size(('height', 'width'), 50, 50, 55, 55, 'px');

    color: $bg;
    vertical-align: middle;

    // firefox for some reason cuts off the svg by a pixel on the left.
    padding-left: 1px;
  }

  // hack for super small screens on the test environment needed because of a
  //   longer test email
  @media (max-width: 340px) {
    .small-quill {
      margin-left: -8px;
    }
    .author {
      margin-right: 10px;
    }
  }
}

h3,
h4,
h5 {
  @include res-aware-element-spacing('margin-top', 'lg');
}

h1,
h2,
h3,
h4 {
  font-family: 'Source Serif Pro', serif;
  font-weight: 600;
}

h5 {
  @include res-aware-element-spacing('margin-top', 'lg');

  font-size: 16px;
  font-weight: 600;
}

h1 {
  @include per-screen-size('font-size', 32, 38, 44, 48, 'px');
  margin-top: 0;
}

h2 {
  @include per-screen-size('font-size', 26, 29, 32, 32, 'px');
}

h3 {
  @include per-screen-size('font-size', 22, 22, 24, 26, 'px');
}

h4 {
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

p {
  @include res-aware-element-spacing('margin-top', 'sm');

  margin-bottom: 0;

  &.sidenote {
    font-style: italic;
  }
}

header {
  @include res-aware-element-spacing(('margin-top', 'padding-bottom'), 'lg');

  overflow: hidden;

  a + a {
    margin-left: 20px;
  }

  .logo {
    @include per-screen-size('margin-bottom', 22, 26, 32, 36, 'px');
    @include per-screen-size('width', 300, 340, 380, 420, 'px');

    display: block;
  }
}

ul:not(.bulleted) {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

ul.bulleted {
  list-style-type: disc;
  padding-left: 20px;

  > li {
    @include res-aware-element-spacing('margin-top', 'xxs');
  }
}

.feather-icon {
  height: 24px;
  width: 24px;
}

button {
  cursor: pointer;

  &.link {
    background-color: transparent;
    text-decoration: underline;

    p {
      text-decoration: underline;
    }
  }
}

a,
a:visited {
  color: currentColor;
}

.dont-wrap {
  white-space: nowrap;
}

svg.emoji {
  display: inline-block;
  margin-top: -1px;
  vertical-align: middle;
}

span.important {
  font-weight: 600;
}

dl {
  > dt {
    @include res-aware-element-spacing('margin-bottom', 'xxs');

    font-weight: bold;
  }
  > dd {
    @include res-aware-element-spacing('margin-left', 'lg');

    > p:first-child {
      margin-top: 0;
    }
  }
  > dd + dt {
    @include res-aware-element-spacing('margin-top', 'md');
  }
}

.removed {
  display: none !important;
}

//
// These are only necessary for ssr.  After the initial rendering, the v-if
//   statements should take care of whether elements display
//
// NOTE: These classes should **always** be accompanied by a matching
//       v-if="isTabletOrLarger" or v-if="isPhoneOrSmaller"
//
@include for-tablets-and-up {
  .phones-and-smaller {
    display: none !important;
  }
}
@include for-phones-and-down {
  .tablets-and-larger {
    display: none !important;
  }
}
@include for-small-phones {
  .phones-and-larger {
    display: none !important;
  }
}
@include for-phones-and-up {
  .small-phones {
    display: none !important;
  }
}
